<div class="ui center aligned grid" id="navbar">
    <div class="bar">
    <div class="something">
      <div class="ui input" ng-keypress="submit()" id="input">
        <button class="businessButton" ng-click="selectBusiness(); disabled = !disabled" id="selectBusiness">Business</button>
        <button class="personButton" ng-click="selectPerson(); disabled = !disabled" id="selectPerson">Person</button>
        <input ng-if="!disabled" id="businessID" type="text" my-custom ng-model="autocomplete" placeholder="What business do you want to pay?">
        <input ng-if="disabled" id="businessID" type="text" ng-model="autocomplete" placeholder="Who do you want to pay?">
        <button class="right attached ui button" color="#00a1e1" id="submit" ng-click="addPayee()">
          <i class="large arrow right icon"><!-- <img src="http://s4.postimg.org/z2k6mqhd5/arrow.png"></i> --></i>
      </div>
    </div>
  </div>
</div>


<!-- <img src="http://s4.postimg.org/z2k6mqhd5/arrow.png"> -->