<h1></h1>

<section ng-controller="paymentController">


<div>
  
  <div data-ng-finder data-ng-payees="payees" data-ng-people="people"></div>

  <div ng-repeat="payee in payees" my-payee="payee" class="animated fadeInLeft tile-container">
    <div class="tile">
      <span class="user-pic">
        <p><img class="ui left floated image unique" src="http://s24.postimg.org/dxs617f0x/Business_Image.png" id="image"></p>
      </span>
      <span class="content">
        <div class="column address" id="textbox">
          <div class="noborder ui segment vert"><h2>{{payee.businessID}}</h2>
          <span class="address" id="address">{{payee.address}}</span></div>
        </div>
      </span>
      <a href=# tooltips tooltip-title="Make a Payment!" class="tool-tip">
        <span>
            <font class="dollar" title="Make a Payment" color="white">$</font>
        </span>
      </a>
    </div>
  </div>

  <div ng-repeat="people in people" my-payee="people" class="animated fadeInLeft tile-container">
    <div class="tile">
      <span class="user-pic">
        <p><img class="ui left floated image unique" src="http://s28.postimg.org/qumlh9eq1/Person_Image.png" id="image"></p>
      </span>
      <span class="content">
       <div class="column address" id="textbox">        
          <div class="noborder ui segment vert"><h2>{{people.businessID}}</h2>
          <span class="address" id="address">Address not provided</span></div>
        </div>
      </span>
    </div>
  </div>


</section>
