<h1></h1>

<section ng-controller="paymentController">


<div>
  
  <div class="ui center aligned grid" id="navbar">
    
    <div class="bar">

    <div class="something">
      
      <div class="ui input" ng-keypress="submit()" id="input">
      <button class="left attached blue ui button submit" ng-click="selectBusiness()" id="selectBusiness">Business</button>
      <button class="left attached ui button submit" ng-click="selectPerson()" id="selectPerson">Person</button>
        <input id="businessID" type="text" ng-autocomplete="off" ng-model="autocomplete" placeholder="What business do you want to pay by card?">
        <button class="right attached blue ui button" id="submit" ng-click="addPayee()">
          <i class="arrow right icon arrow"></i>
      </div>

    </div>
    </div>
  </div>

  <div ng-repeat="payee in payees" my-payee="payee" class="payment">
    <div class="ui two column stackable grid" id="grid">
      <div class="three column row payment">
        <div class="column">
          <div class="noborder ui segment">
            <img class="ui right floated image unique" src="http://slco.org/recreation/dimpledell/youthSports/images/football_large.jpg" id="image">
          </div>
        </div>
        <div class="column address" id="textbox">
          <div class="noborder ui segment vert"><h2>{{payee.businessID}}</h2>
          <span class="address" id="address">{{payee.address}}</span></div>
        </div>
        <div class="column">
          <div class="noborder ui segment">
              <button class="right attached ui icon button hoverbox">
                <a href="#" tooltips tooltip-title="Click to Pay!">
                  <i class="ui centered huge dollar icon" id=""></i>
                </a>
              </button>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div ng-repeat="people in people" my-payee="people">
    <div class="ui two column stackable grid" id="grid">
      <div class="three column row payment">
        <div class="column">
          <div class="noborder ui segment">
            <img class="ui right floated image unique" src="http://slco.org/recreation/dimpledell/youthSports/images/football_large.jpg" id="image">
          </div>
        </div>
        <div class="column address" id="textbox">        
          <div class="noborder ui segment vert"><h2>{{people.businessID}}</h2>
          <span class="address" id="address">Address not provided</span></div>
        </div>
        <div class="column">
          <div class="noborder ui segment">
              <!-- <button class="right attached blue ui icon button hoverbox">
                <i class="ui centered huge dollar icon"></i>
              </button> -->
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

</section>
